# Core Data & Analysis
yfinance
pandas
numpy
feedparser
statsmodels
wikipedia
requests

# Forecasting (Prophet)
# Prophet requires pystan (a C++ dependency)
pystan==2.19.1.1 
prophet

# Visualization (Dashboard)
plotly

# LLM & NLP
google-generativeai

# Frontend Framework
streamlit
